<span *ngIf="teamInfo$ | async" class="not-found">Team Info not available</span>

<table *ngIf="teamInfo$ | async as teamInfo">

  <tr>
    <td class="image center" colspan="2">
      <img [src]="teamInfo.crestUrl" alt="avatar">
    </td>
  </tr>


  <tr>
    <td>Area name</td>
    <td>{{ teamInfo.area.name }}</td>
  </tr>

  <tr>
    <td>Name</td>
    <td>{{ teamInfo.name }}</td>
  </tr>

  <tr>
    <td>Address</td>
    <td>{{ teamInfo.address }}</td>
  </tr>

  <tr>
    <td>Phone</td>
    <td>{{ teamInfo.phone }}</td>
  </tr>

  <tr>
    <td>Website link</td>
    <td>{{ teamInfo.website }}</td>
  </tr>

  <tr>
    <td>E-mail link</td>
    <td>{{ teamInfo.email }}</td>
  </tr>

  <tr>
    <td>Founded year</td>
    <!-- TODO: SEARCH FOR FOUNDED YEAR -->
    <td>{{ teamInfo.lastUpdated | date: 'YYYY' }}</td>
  </tr>

  <tr>
    <td>Venue Name</td>
    <td>{{ teamInfo.venue }}</td>
  </tr>
</table>
