@import '/src/styles.scss';

nav {
  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
  background-color: $main-color-020;

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-right: 16px;
      color: white;
      cursor: pointer;

      &.active {
        outline: none;
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
